@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&display=swap");

:root {
	--primary-txt: #abb2bf;
	--primary-bg: #282c34;
	--tertiary-bg: #363c47;
	--secondary-bg: #262a31;
	--border: #969696;
	--orange: #e5c07b;
	--blue: #61afef;
	--pink: #c678dd;
	--green: #98c379;
	--light-blue: #56b6c2;
}

* {
	padding: 0;
	margin: 0;
	cursor: default;
}

h1 {
	font-size: 1.1rem;
	font-weight: bold;
}

h2 {
	font-size: 1rem;
	font-weight: bold;
}

a {
	cursor: pointer;
}

body {
	font-family: "Inconsolata", monospace, sans-serif;
	font-weight: bold;
	font-size: medium;
	overflow: hidden;
	padding: 1rem;
	height: 100vh;
}

.darkmode {
	background-color: var(--primary-bg);
	color: var(--primary-txt);
}

*::-webkit-scrollbar {
	width: 0.4em;
	background-color: var(--primary-bg);
	height: 0.2em;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary-txt);
}
* {
	scrollbar-width: thin;
	scrollbar-color: var(--primary-txt) var(--primary-bg);
}

svg {
	overflow: visible;
}

#logo {
	width: 100%;
}

#logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin-bottom: 2rem;
	min-height: 224px;
}

#main-container {
	display: flex;
	flex-direction: column;
	height: 93%;
	gap: 0.4rem;
	justify-content: flex-start;
}

#section-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	gap: 0.4rem;
}

#left-section {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	width: 25%;
	overflow: hidden; /* Prevents scrolling of the parent div */
}

#right-section {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	width: 75%;
}

#main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: hidden;
}

#main-content .container-content {
	overflow-y: auto;
	line-height: 1.5rem;
	gap: 1.5rem;
	padding: 2rem;
	align-items: center;
	width: calc(100% - 4rem);
	height: 95vh;
}

#footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: none;
	margin-top: 0.2rem;
	font-size: 0.8rem;
	overflow: hidden;
	min-height: 4ch;
}

#home {
	height: auto;
}

#home-section-paragraph {
	padding: 0.2rem;
}

.footer-item {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.container {
	display: flex;
	flex-direction: column;
	border: 0.1px solid var(--primary-txt);
	position: relative;
	padding: 0.2rem 0.2rem 0.4rem;
	flex: 1;
	max-height: 100%;
	overflow: hidden; /* Ensure the container itself does not show scrollbars */
}

.container-content {
	display: flex;
	flex-direction: column;
	overflow: hidden; /* Ensure no scrollbars */
	flex: 1;
}

#left-section .container:hover:not(.selected-frame) {
	border-color: var(--border);
}

.outer-paragraph-container {
	width: 100%;
}

.inner-paragraph-container {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	gap: 1rem;
}

.image-container {
	width: 100%;
	margin: 0.5rem 0;
	display: flex;
	justify-content: center;
}

.image-inner-container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 70%;
	padding: 0.5rem;
}

.image-inner-container::before,
.image-inner-container::after {
	content: "";
	position: absolute;
	border: 0.1px solid var(--light-blue);
}

.image-inner-container::before {
	top: 0;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 100%;
	border-right: none;
}

.image-inner-container::after {
	top: 0;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 100%;
	border-left: none;
}

.project-image {
	margin: 0.5rem;
	width: 100%;
	max-width: fit-content;
	background-color: var(--secondary-bg);
}

pre {
	display: block;
	font-size: 1.1rem;
	line-height: 1.3rem;
	padding: 0.5rem;
	color: var(--primary-txt);
}

/* Container for the skill name and logo */
.skill-name-logo-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

/* Skill name styling */
.skill-name {
	font-size: 24px;
	margin-right: 10px;
}

/* Skill logo styling */
.skill-logo {
	height: 24px; /* Adjust this to match the height of the skill name */
	width: 24px;
	margin-right: 10px;
}

/* Progress bar container styling */
.progress-bar-container {
	width: 100%;
	margin-bottom: 10px;
	font-family: monospace; /* Monospaced font for terminal-like appearance */
}

/* Progress bar styling */
.progress-bar {
	color: var(--green); /* Bright green for terminal style */
	white-space: pre; /* Preserve whitespace */
	font-size: 16px; /* Adjust the font size as needed */
}

.scrollable {
	overflow-y: auto;
}

.h-sm {
	height: 5%;
}

.h-auto {
	height: fit-content;
}

.h-fill {
	flex-grow: 1;
}

.h-full {
	height: 100%;
}

.mt-4 {
	margin-top: 2rem 4rem;
}

.decorating-text {
	position: absolute;
	padding: 0 0.4rem;
	width: fit-content;
}

.decorating-text p {
	position: relative;
	z-index: 2;
}

.decorating-text div {
	position: relative;
	z-index: 1;
	background-color: var(--primary-bg);
	height: 0.5ch;
	top: -1ch;
	left: -2px;
	width: 104%;
}

.title {
	top: -12px;
}

.list-index {
	bottom: -12px;
	align-self: flex-end;
}

.ui-list {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	width: 99%;
	padding: 0.2rem;
	overflow-y: auto;
	overflow-x: hidden;
}

@media (max-width: 961px) {
	.ui-list {
		overflow-y: auto; /* Allows horizontal scrolling */
		white-space: nowrap; /* Prevents content from wrapping to the next line */
	}
}

#experience .ui-list {
	justify-content: space-between;
}

#experience .ui-list div {
	width: 100%;
	text-wrap: balance;
}

#experience .ui-list div div {
	width: 50%;
	justify-content: flex-start;
	gap: 1rem;
}

.ui-list div {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.ui-list img {
	width: 1rem;
	height: 1rem;
}

.ui-list div:hover:not(.selected-item):not(.selected-item > div) {
	background-color: var(--tertiary-bg);
}

.selected-frame {
	border-color: var(--light-blue);
}

.selected-frame .decorating-text {
	color: var(--light-blue);
}

.selected-frame .container-content {
	scrollbar-color: var(--light-blue) var(--primary-bg);
}

div.selected-frame > ::-webkit-scrollbar-thumb {
	background-color: var(--light-blue);
}

.selected-item,
.selected-item div {
	background-color: var(--secondary-bg);
}

.pipes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.pipes pre {
	margin: 0;
	padding: 0;
	white-space: pre-wrap; /* This allows the content to wrap within the container */
	word-wrap: break-word; /* Ensures long words break to fit the container */
	width: 100%; /* Ensures the pre element takes the full width of the container */
	box-sizing: border-box; /* Ensures padding/border is included in the width */
}

@media (max-width: 1187px) {
	#pipes {
		display: none;
	}
}

.text-orange {
	color: var(--orange);
}

.text-blue {
	color: var(--blue);
}

.text-pink {
	color: var(--pink);
}

.text-xs {
	font-size: 0.6rem;
}

.reference {
	font-size: 0.8rem;
	font-weight: bold;
	color: var(--blue);
}

.technologies-row {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

.buttons-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin: 1rem 0;
}

.project-button {
	all: unset;
	padding: 0.5rem 1rem;
	border: 0.1px solid var(--primary-txt);
	color: var(--primary-txt);
	cursor: pointer;
	min-width: 150px;
	text-align: center;
	font-size: 1.5rem;
}

.project-button:hover {
	background-color: var(--secondary-bg);
}

.project-button:active {
	opacity: 0.5;
}

.noscript-msg {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25%;
	gap: 0.5rem;
	padding: 1rem;
	width: 100%;
}

.nav-container {
	display: none;
}

#modal-controls {
	display: none;
}

#mobile-help {
	display: none;
}
